* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: linear-gradient(90deg, rgb(177, 177, 229), rgb(156, 156, 247));
    width: 87vw;
}

h1 {
    text-align: center;
    color: rgb(32, 24, 77);
}

#h1-index {
    font-size: 35px;
    font-weight: 1000;
}

p {
    margin-left: 10px;
}

#recipes-list {
    margin: 5px;
    width: 250px;
    margin: 0 auto;
    font-size: 20px;
    list-style-type: none;
}

a {
    color: rgb(32, 24, 73);
    text-decoration: none;
}

a:hover {
    font-weight: 600;
}