* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

body {
    background: rgb(52, 46, 73);
      color: rgb(197, 172, 141);
}

h1 {
    text-align: center;
    font-weight: 1000;
    font-size: 45px;
}

#h1-index {
    font-size: 55px;
    font-weight: 1000;
}

p {
    text-align: center;
    width: 60vw;
    margin: 0 auto;
    font-size: 25px;
    font-style: italic;
}

#recipes-list {
    margin: 5px;
    width: 250px;
    margin: 0 auto;
    font-size: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: bisque;
}

a:hover {
    font-weight: 600;
}

h2 {
    font-size: 30px;
}

h2, h3 {
    text-align: center;
    font-weight: 600;
}

h3 {
    font-style: italic;
}

ul, ol {
    padding: 0 20vw;
}

img {
    display: block;
    margin: 0 auto;
}